<div class="jumbotron">
<h1><i class="fa fa-circle-o-notch"></i> Stukdo</h1>

<p>This is my smart to do list Ruby on Rails Application</p>
<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>

</div>
<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">

  <div class="box col3">
    ...
  </div>

  <div class="box col1">
    <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. </p>
  </div>

  <div class="box col2">
    <p>
      <a href="http://www.flickr.com/photos/nemoorange/3319714470/" title="Whitlow's on Wilson by nemoorange, on Flickr"><img src="http://farm4.static.flickr.com/3008/3319714470_c05a5cb5a8_m.jpg" alt="Whitlow's on Wilson" /></a>
    </p>
  </div>
  ...
</div>